In [1]:
print("Hello World")

Hello World

In [2]:
if 5 > 2:
  print("5 lebih besar dari 2")

5 lebih besar dari 2

In [3]:
a = "Angka"
b = 20
print (a,b)
print (a)
print (b)

Angka 20
Angka
20

In [4]:
#Comment
print("Hello World")

Hello World

In [5]:
"""
Ini adalah komentar
buat kebawah
"""
print("Hello World")

Hello World

In [6]:
x = str("Angka")
y = int(20)
z = float(20)
print(x)
print(y)
print(z)
print(x,y,z)

Angka
20
20.0
Angka 20 20.0

In [7]:
x = 5
y = "John"
print(type(x))
print(type(y))

a = 6
y = 8.0
print(type(a))
print(type(y))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'float'>

In [8]:
a = 4
A = "Sally"

print(a)
print(A)

b = 7
B = "Hello"
print(b,B)
print(b)
print(B)

4
Sally
7 Hello
7
Hello

In [9]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

ok_deh = "Ini"
okdeh = "Ini"
_ok_deh = "Ini"
okDeh = "Ini"
OKDEH = "Ini"
okdeh1 = "Ini"

print(ok_deh)
print(okdeh)
print(_ok_deh)
print(okDeh)
print(OKDEH)
print(okdeh1)

John
John
John
John
John
John
Ini
Ini
Ini
Ini
Ini
Ini

In [10]:
#Camel Case
myVariableName = "John"

#Pascal Case
MyVariableName = "John"

#Snake Case
my_variable_name = "John"

print(myVariableName)
print(MyVariableName)
print(my_variable_name)

John
John
John

In [11]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

a,b,c = "Ayam", "Bebek", "Burung"
print(a,b,c)

Orange
Banana
Cherry
Ayam Bebek Burung

In [12]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

a = b = c = "Buah"
print(a,b,c)

Orange
Orange
Orange
Buah Buah Buah

In [13]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

print(x)
print(y)
print(z)

hewan = ["kucing", "bebek", "ikan"]
a,b,c = hewan
print(a,b,c)

apple
banana
cherry
kucing bebek ikan

In [14]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

a = "Halo"
b = " Saya"
c = " Yusuf"
d = " Niko F"
print(a+b+c+d)

o = 1
p = 2
q = 3
print(o+p+q)

Python is awesome
Halo Saya Yusuf Niko F
6

In [15]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()


a = "Hello"
b = " Guys"

def function():
	print("Say " + a + b)

function()

Python is awesome
Say Hello Guys

In [16]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

a = " Program"

def function():
  a = " Python"
  print("Hello" + a)

function()

print("Hello" + a)

Python is fantastic
Python is awesome
Hello Python
Hello Program

In [17]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)


def function():
  global a
  a = " New"
  global b
  b = " World"

function()

print("Hello" + a + b)

Python is fantastic
Hello New World

In [18]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

a = "Good"

def myfunc():
  global a
  a = "Code"
  global b
  b = " Wars"

myfunc()

print("This is " + a + b)

Python is fantastic
This is Code Wars

In [19]:
x = 5
print(type(x))

a = 2
print(type(a))

b = "Halo"
print(type(b))

<class 'int'>
<class 'int'>
<class 'str'>

In [20]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

a = 11.325

print(a)
print(type(a))

20.5
<class 'float'>
11.325
<class 'float'>

In [21]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

a = 5j

print(a)

print(type(a))

1j
<class 'complex'>
5j
<class 'complex'>

In [22]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

a = ["Pepaya", "Mangga", "Pisang", "Jambu"]
print(a)
print(type(a))

['apple', 'banana', 'cherry']
<class 'list'>
['Pepaya', 'Mangga', 'Pisang', 'Jambu']
<class 'list'>

In [23]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

a = ("Pepaya", "Mangga", "Pisang", "Jambu")
print(a)
print(type(a))

('apple', 'banana', 'cherry')
<class 'tuple'>
('Pepaya', 'Mangga', 'Pisang', 'Jambu')
<class 'tuple'>

In [24]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))


a = range(10)
print(a)
print(type(a))

b = range(2,9)
print(b)
print(type(b))

range(0, 6)
<class 'range'>
range(0, 10)
<class 'range'>
range(2, 9)
<class 'range'>

In [25]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

a = {"nama" : "Yusuf", "age" : 22}
print(a)
print(type(a))

{'name': 'John', 'age': 36}
<class 'dict'>
{'nama': 'Yusuf', 'age': 22}
<class 'dict'>

In [26]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

a = {"Pepaya", "Mangga", "Pisang", "Jambu"}
print(a)
print(type(a))

{'banana', 'cherry', 'apple'}
<class 'set'>
{'Pepaya', 'Mangga', 'Jambu', 'Pisang'}
<class 'set'>

In [27]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

a = frozenset({"Pepaya", "Mangga", "Pisang", "Jambu"})
print(a)
print(type(a))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>
frozenset({'Pepaya', 'Mangga', 'Jambu', 'Pisang'})
<class 'frozenset'>

In [28]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

a = False
print(a)
print(type(a))

True
<class 'bool'>
False
<class 'bool'>

In [29]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

a = b"World"
print(a)
print(type(a))

b'Hello'
<class 'bytes'>
b'World'
<class 'bytes'>

In [30]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

a = bytearray(3)
print(a)
print(type(a))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
bytearray(b'\x00\x00\x00')
<class 'bytearray'>

In [31]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

a = memoryview(bytes(3))
print(a)
print(type(a))

<memory at 0x79695a067940>
<class 'memoryview'>
<memory at 0x79695a067a00>
<class 'memoryview'>

In [32]:
x = None

#display x:
print(x)

#display the data type of x:
print(type(x))

a = None
print(a)
print(type(a))

None
<class 'NoneType'>
None
<class 'NoneType'>

In [33]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

a = 2
b = "Hello"
c = b"YOLO"

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'str'>
<class 'bytes'>

In [34]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

A = 2131231231
B = -3213213213
C = 111111111
print(type(A))
print(type(B))
print(type(C))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [35]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

a = 1.1123131
b = -13.123142
c = 223.121241

print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [36]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

a = 20e4
b = 30E10
c = -992.9e1

print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [37]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

a = 3 + 10j
b = 5 -4j
c = -7j

print(type(a))
print(type(b))
print(type(c))

<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [38]:
x = 1    # int
y = 2.8  # float
z = 3   # complex

#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(3)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

a = 2.3231321
b = 5
c = 3.213123

d = float(a)
e = str(b)
f = complex(c)

print(d)
print(e)
print(f)
print(type(d))
print(type(e))
print(type(f))

1.0
2
(3+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
2.3231321
5
(3.213123+0j)
<class 'float'>
<class 'str'>
<class 'complex'>

In [39]:
import random

print(random.randrange(1, 10))

print(random.randrange(0,20))

7
19