In [ ]:
print("Hello World")

Hello World

In [ ]:
if 5 > 2:
  print("5 lebih besar dari 2")

5 lebih besar dari 2

In [ ]:
a = "Angka"
b = 20
print (a,b)
print (a)
print (b)

Angka 20
Angka
20

In [ ]:
#Comment
print("Hello World")

Hello World

In [ ]:
"""
Ini adalah komentar
buat kebawah
"""
print("Hello World")

Hello World

In [ ]:
x = str("Angka")
y = int(20)
z = float(20)
print(x)
print(y)
print(z)
print(x,y,z)

Angka
20
20.0
Angka 20 20.0

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

a = 6
y = 8.0
print(type(a))
print(type(y))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
a = 4
A = "Sally"

print(a)
print(A)

b = 7
B = "Hello"
print(b,B)
print(b)
print(B)

4
Sally
7 Hello
7
Hello

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

ok_deh = "Ini"
okdeh = "Ini"
_ok_deh = "Ini"
okDeh = "Ini"
OKDEH = "Ini"
okdeh1 = "Ini"

print(ok_deh)
print(okdeh)
print(_ok_deh)
print(okDeh)
print(OKDEH)
print(okdeh1)

John
John
John
John
John
John
Ini
Ini
Ini
Ini
Ini
Ini

In [ ]:
#Camel Case
myVariableName = "John"

#Pascal Case
MyVariableName = "John"

#Snake Case
my_variable_name = "John"

print(myVariableName)
print(MyVariableName)
print(my_variable_name)

John
John
John

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

a,b,c = "Ayam", "Bebek", "Burung"
print(a,b,c)

Orange
Banana
Cherry
Ayam Bebek Burung

In [ ]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

a = b = c = "Buah"
print(a,b,c)

Orange
Orange
Orange
Buah Buah Buah

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

print(x)
print(y)
print(z)

hewan = ["kucing", "bebek", "ikan"]
a,b,c = hewan
print(a,b,c)

apple
banana
cherry
kucing bebek ikan

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

a = "Halo"
b = " Saya"
c = " Yusuf"
d = " Niko F"
print(a+b+c+d)

o = 1
p = 2
q = 3
print(o+p+q)

Python is awesome
Halo Saya Yusuf Niko F
6

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()


a = "Hello"
b = " Guys"

def function():
	print("Say " + a + b)

function()

Python is awesome
Say Hello Guys

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

a = " Program"

def function():
  a = " Python"
  print("Hello" + a)

function()

print("Hello" + a)

Python is fantastic
Python is awesome
Hello Python
Hello Program

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)


def function():
  global a
  a = " New"
  global b
  b = " World"

function()

print("Hello" + a + b)

Python is fantastic
Hello New World

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

a = "Good"

def myfunc():
  global a
  a = "Code"
  global b
  b = " Wars"

myfunc()

print("This is " + a + b)

Python is fantastic
This is Code Wars

In [ ]:
x = 5
print(type(x))

a = 2
print(type(a))

b = "Halo"
print(type(b))

<class 'int'>
<class 'int'>
<class 'str'>

In [ ]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

a = 11.325

print(a)
print(type(a))

20.5
<class 'float'>
11.325
<class 'float'>

In [ ]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

a = 5j

print(a)

print(type(a))

1j
<class 'complex'>
5j
<class 'complex'>

In [ ]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

a = ["Pepaya", "Mangga", "Pisang", "Jambu"]
print(a)
print(type(a))

['apple', 'banana', 'cherry']
<class 'list'>
['Pepaya', 'Mangga', 'Pisang', 'Jambu']
<class 'list'>

In [ ]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

a = ("Pepaya", "Mangga", "Pisang", "Jambu")
print(a)
print(type(a))

('apple', 'banana', 'cherry')
<class 'tuple'>
('Pepaya', 'Mangga', 'Pisang', 'Jambu')
<class 'tuple'>

In [ ]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))


a = range(10)
print(a)
print(type(a))

b = range(2,9)
print(b)
print(type(b))

range(0, 6)
<class 'range'>
range(0, 10)
<class 'range'>
range(2, 9)
<class 'range'>

In [ ]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

a = {"nama" : "Yusuf", "age" : 22}
print(a)
print(type(a))

{'name': 'John', 'age': 36}
<class 'dict'>
{'nama': 'Yusuf', 'age': 22}
<class 'dict'>

In [ ]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

a = {"Pepaya", "Mangga", "Pisang", "Jambu"}
print(a)
print(type(a))

{'banana', 'cherry', 'apple'}
<class 'set'>
{'Pepaya', 'Mangga', 'Jambu', 'Pisang'}
<class 'set'>

In [ ]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

a = frozenset({"Pepaya", "Mangga", "Pisang", "Jambu"})
print(a)
print(type(a))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>
frozenset({'Pepaya', 'Mangga', 'Jambu', 'Pisang'})
<class 'frozenset'>

In [ ]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

a = False
print(a)
print(type(a))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

a = b"World"
print(a)
print(type(a))

b'Hello'
<class 'bytes'>
b'World'
<class 'bytes'>

In [ ]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

a = bytearray(3)
print(a)
print(type(a))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
bytearray(b'\x00\x00\x00')
<class 'bytearray'>

In [ ]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

a = memoryview(bytes(3))
print(a)
print(type(a))

<memory at 0x79695a067940>
<class 'memoryview'>
<memory at 0x79695a067a00>
<class 'memoryview'>

In [ ]:
x = None

#display x:
print(x)

#display the data type of x:
print(type(x))

a = None
print(a)
print(type(a))

None
<class 'NoneType'>
None
<class 'NoneType'>

In [ ]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

a = 2
b = "Hello"
c = b"YOLO"

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'str'>
<class 'bytes'>

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

A = 2131231231
B = -3213213213
C = 111111111
print(type(A))
print(type(B))
print(type(C))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

a = 1.1123131
b = -13.123142
c = 223.121241

print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

a = 20e4
b = 30E10
c = -992.9e1

print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

a = 3 + 10j
b = 5 -4j
c = -7j

print(type(a))
print(type(b))
print(type(c))

<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
x = 1    # int
y = 2.8  # float
z = 3   # complex

#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(3)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

a = 2.3231321
b = 5
c = 3.213123

d = float(a)
e = str(b)
f = complex(c)

print(d)
print(e)
print(f)
print(type(d))
print(type(e))
print(type(f))

1.0
2
(3+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
2.3231321
5
(3.213123+0j)
<class 'float'>
<class 'str'>
<class 'complex'>

In [ ]:
import random

print(random.randrange(1, 10))

print(random.randrange(0,20))

7
19

In [ ]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

a = int(7)
b = int(8)
c = int("9")
print(a)
print(b)
print(c)

1
2
3
7
8
9

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

a = float(2)
b = float(3)
c = float(4)
print(a)
print(b)
print(c)

1.0
2.8
3.0
4.2
2.0
3.0
4.0

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

a = str(2)
b = str("duar")
c = str(4.0)
print(a)
print(b)
print(c)

s1
2
3.0
2
duar
4.0

In [ ]:
print("Hello")
print('Hello')

print("DUAR")
print("duar")

Hello
Hello
DUAR
duar

In [ ]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

print("Hidup")
print("Akan 'baik-baik' saja")
print('Tapi "boong" heheheh')

It's alright
He is called 'Johnny'
He is called "Johnny"
Hidup
Akan 'baik-baik' saja
Tapi "boong" heheheh

In [ ]:
a = "Hello"
print(a)

b = "duar"
print(b)

Hello
duar

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

b = """DUARRRR"""
print(b)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
DUARRRR

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

b = '''DUARRRRR'''
print(b)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
DUARRRRR

In [ ]:
a = "Hello, World!"
print(a[1])

b = "DUAR"
print(b[2])

e
A

In [ ]:
for x in "banana":
  print(x)

for y in "DUAARRRR":
  print(y)

b
a
n
a
n
a
D
U
A
A
R
R
R
R

In [ ]:
a = "Hello, World!"
print(len(a))

b = "DUARRR"
print(len(b))

13
6

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

x = "DUARRRR ini coba doang"
print("ini" in x)

print("ada" in x)

True
True
False

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

x = "DUARRRR ini coba doang"
if "ini" in x:
  print("Betul, kata 'ini' ada di dalam teks.")

if "ada" in x:
  print("Salah, kata 'ada' tidak ada di dalam teks.")

Yes, 'free' is present.
Betul, kata 'ini' ada di dalam teks.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

x = "DUARRRR ini coba doang"
print("coba" not in x)

print("ada" not in x)

True
False
True

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

a = "DUARRRR ini coba doang"

if "ada" not in a:
  print("Salah, kata 'ada' tidak ada di dalam teks.")

No, 'expensive' is NOT present.
Salah, kata 'ada' tidak ada di dalam teks.

In [ ]:
b = "Hello, World!"
print(b[2:5])

a = "DUARRRRR"
print(a[2:5])

llo
ARR

In [ ]:
b = "Hello, World!"
print(b[:5])

a = "DUARRRR"
print(a[:5])

print(a[:7])

Hello
DUARR
DUARRRR

In [ ]:
b = "Hello, World!"
print(b[2:])

a = "DUARRRRR"
print(a[2:])

llo, World!
ARRRRR

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

a = "DUARRRRR"
print(a[-5:-2])

orl
RRR

In [ ]:
x = 'Welcome'
print(x[3:5])

co

In [ ]:
a = "Hello, World!"
print(a.upper())

b = "duarrrrr"
print(b.upper())

c = "anu"
print(c.upper())

HELLO, WORLD!
DUARRRRR
ANU

In [ ]:
a = "Hello, World!"
print(a.lower())

b = "DUARRRR"
print(b.lower())

c = "ANU"
print(c.lower())

hello, world!
duarrrr
anu

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

b = "                        DUARRRR "
print(b)
print(b.strip())

Hello, World!
                        DUARRRR
DUARRRR

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

b = "DUARRRRRR"
print(b.replace("R","K"))

Jello, World!
DUAKKKKKK

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

b = "DUARRRR, MELEDAK"
print(b.split(","))

['Hello', ' World!']
['DUARRRR', ' MELEDAK']

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

x = "DUARRRR "
y = "MELEDAK"
z = x + y
print(z)

HelloWorld
DUARRRR MELEDAK

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

x = "DUARRR"
y = "Meledakkk"
z = x + " " + y
print(z)

Hello World
DUARRR Meledakkk

In [ ]:
#Python can't combine string with number
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Solution
age = 36
txt = f"My name is John, I am {age}"
print(txt)

umur = 22
a = f"Saya umurnya {umur} tahun"
print(a)

My name is John, I am 36
Saya umurnya 22 tahun

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

harga = 2000
a = f"saya membeli cilok harga {harga} rupiah"
print(a)

The price is 59 dollars
saya membeli cilok harga 2000 rupiah

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

#ada .00 nya
harga = 2000
a = f"saya membeli cilok harga {harga: .2f} rupiah"
print(a)

The price is 59.00 dollars
saya membeli cilok harga  2000.00 rupiah

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

a = f"saya membeli cilok harga {20 * 100} rupiah"
print(a)

#ada .00 nya
eq = 20*1500
b = f"saya membeli martabak seharga {eq: .2f} rupiah"
print(b)

The price is 1180 dollars
saya membeli cilok harga 2000 rupiah
saya membeli martabak seharga  30000.00 rupiah

In [ ]:
#SyntaxError: unterminated string literal (detected at line 1)
txt = "We are the so-called "Vikings" from the north.

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-45-f35cb8458d83>, line 2)

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

text = "Kita bisa memanggilnya pasukan 'The Jak' dari Jakarta"
print(text)

a = "Kita bisa memanggilnya pasukan \"Viking\" dari Bandung"
print(a)

We are the so-called "Vikings" from the north.
Kita bisa memanggilnya pasukan 'The Jak' dari Jakarta
Kita bisa memanggilnya pasukan "Viking" dari Bandung

In [ ]:
txt = 'It\'s alright.'
print(txt)

text = 'It\'s okey.'
print(text)

It's alright.
It's okey.

In [ ]:
txt = "This will insert one \\ (backslash)."
print(txt)

text = "Ini menampilkan satu \\ (backslash)."
print(text)

This will insert one \ (backslash).
Ini menampilkan satu \ (backslash).

In [ ]:
txt = "Hello\nWorld!"
print(txt)

text = "Halo\nDunia!"
print(text)

a = "DUAARRR\nMeledak"
print(a)

Hello
World!
Halo
Dunia!
DUAARRR
Meledak

In [ ]:
txt = "Hello\rWorld!"
print(txt)

#Ngembaliin kalimat terakhir
text = "Halo\rDunia!"
print(text)

a = "DUAARRR\rMeledak"
print(a)

World!
Dunia!
Meledak

In [ ]:
txt = "Hello\tWorld!"
print(txt)

#Ngasih tab
text = "Halo\tDunia!"
print(text)

a = "DUAARRR\tMeledak"
print(a)

Hello	World!
Halo	Dunia!
DUAARRR	Meledak

In [ ]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

text = "Halo \bDunia"
print(text)

Hello World!
Halo Dunia

In [ ]:
#Form feed (ga keluar efeknya anjay)
txt = "Hello \fWorld!"
print(txt)

text = "Halo \fDunia"
print(text)

#pake ini, karena \f berlaku untuk printer atau bahasa mesin jadul
txt = "Hello \fWorld!"
print(repr(txt))

Hello World!
Halo Dunia
'Hello \x0cWorld!'

In [ ]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

#Dahlah saking sayangnya gua sama pasangan gua wkkwkwk
a = "\111 \114\157\166\145 \131\157\165 \115\165\164\151\141\150"
print(a)

Hello
I Love You Mutiah

In [ ]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

a = "\x48\x61\x6C\x6F \x44\x75\x6E\x69\x61"
print(a)

Hello
Halo Dunia

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

print(9 == 9)
print(9 > 9)
print(9 >= 9)
print(9 < 9)
print(9 <= 9)
print(10 != 9)
print(9 != 9 )

True
False
False
True
False
True
False
True
True
False

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")


x = 100
y = 100

if x > y:
  print("x is greater than y")
elif x == y:
  print("x and y are equal")
else:
  print("x is not greater than y")

b is not greater than a
x and y are equal

In [ ]:
print(bool("Hello"))
print(bool(15))

#Boolean hasilnya false jika string kosong dan angka 0
print(bool(""))
print(bool(0))

print(bool(" DUARRR"))
print(bool(1))

True
True
False
False
True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

a = "DUARRR"
b = 8

print(bool(a))
print(bool(b))

p = ""
q = 0

print(bool(p))
print(bool(q))

True
True
True
True
False
False

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

class kelasku():
  def __len__(self):
    return 1

objekku = kelasku()
print(bool(objekku))

False
True

In [ ]:
def myFunction() :
  return True

print(myFunction())

def FungsiSaya() :
  return False

print(FungsiSaya())

True
False

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

def FungsiSaya() :
  return False

if FungsiSaya():
  print("SALAH")
else:
  print("BENAR")

YES!
BENAR

In [ ]:
x = 200
print(isinstance(x, int))

y = ""
print(isinstance(y, int))

True
False

In [ ]:
print(10 + 5)
print(2+2)
print(10 - 2)
print(10*2)
print(10/2)
print(10%2)
print(10**2)
print(10//2)

15
4
8
20
5.0
0
100
5

In [ ]:
x = 5
y += 5 #same like 	y = y + 5
z -= 5 #same like 	z = z - 5
a *= 5 #same like 	a = a * 5
b /= 5 #same like 	b = b / 5
c %= 5 #same like 	c = c % 5
d //= 5 #same like 	d = d // 5
e **= 5 #same like 	e = e ** 5
f &= 3 #same like 	f = f & 5
g |= 3 #same like 	g = g | 5
h ^= 3 #same like 	h = h ^ 5
i >>= 3 #same like 	i = i >> 5
j <<= 3 #same like 	j = j << 5
print(k := 3) #same like 	k = 3print(k)

TypeError: can only concatenate str (not "int") to str